[2022-01-17 08:57] Angelk90 opened #1 "Cannot find module 'babel-plugin-module-resolver'"
Hi @ospfranco , i cloned the project i wanted to try it but i am having the following error:

[code]

I also tried to do this, but it doesn't fix the problem:

`npm i --save-dev babel-plugin-module-resolver
`

I performed the following steps:

[code]

[2022-01-17 08:59] ospfranco commented on #1
there is nothing to try, it's just some empty UI for now, should be fixed for now, but don't bother running this for a while

[2022-01-17 08:59] #1 closed

[2022-01-17 13:48] Angelk90 commented on #1
@ospfranco : In the end, I succeeded.
<img width="810" alt="Schermata 2022-01-17 alle 14 47 12" src="https://user-images.githubusercontent.com/20476002/149780335-5a19ce6a-3e7a-49b6-9960-a44b92892afd.png">

[2022-01-19 05:43] baruchiro opened #2 "Looks beautiful"
But the README is empty, there are no issues or PRs, no website, no information...

And it does not say at all how to install, so how should I use?

[2022-01-19 06:59] ospfranco commented on #2
I started this week as a side project, it won't be ready for months

[2022-01-19 06:59] #2 closed

[2022-01-19 07:06] baruchiro commented on #2
And yet, you already have 120 stars and I sew this project on my personal Google recommendations... So it will be a great project :-)

[2022-03-19 08:56] Angelk90 opened #4 "Package.resolved file is corrupted or malformed; fix or delete the file to continue: unsupported schema version 2"
Hi @ospfranco , I am getting the following error when I open the `sol.xcworkspace` file.

<img width="635" alt="Schermata 2022-03-19 alle 09 48 52" src="https://user-images.githubusercontent.com/20476002/159114426-ee84e492-e2c0-4dae-8ba2-cf69726086a5.png">

When I try to run the `yarn mac` command I get the following error.
[code]

[2022-03-19 09:22] ospfranco commented on #4
probably something wrong with the Xcode version? I'm using the latest Xcode version 13.3

[2022-03-19 10:51] Angelk90 commented on #4
@ospfranco : I use 13.2.1.

[2022-03-19 11:28] ospfranco commented on #4
Can't downgrade due to work, so you might updating

[2022-03-19 22:17] Angelk90 commented on #4
@ospfranco : After updating xCode and several attempts I was able to get it to work.

I had to remove `Apple Development`, wouldn't it be better to remove it?

If not add in the documentation remember to remove it.

[code]

[2022-03-19 22:21] Angelk90 opened #5 "WARN Sending `onShow` and `keyUp` with no listeners registered."
Hi @ospfranco , I'm getting the following warms when I start sol.

[code]

<img width="610" alt="Schermata 2022-03-19 alle 23 18 58" src="https://user-images.githubusercontent.com/20476002/159140381-20953e7e-69d9-4ce8-abf1-e342b27ab0b1.png">
<img width="604" alt="Schermata 2022-03-19 alle 23 19 12" src="https://user-images.githubusercontent.com/20476002/159140384-ae18286b-c32a-44e7-acad-d9dabb8971

[2022-03-19 23:02] Angelk90 opened #6 "Set the coordinates and the API key"
Hi @ospfranco , I created a file called `env.json` in the main dir.

I wanted to try to set the values but I'm not really understanding how to do it.

I am doing a similar thing.

[code]

But it appears that the code is not being taken in the store.

I also un-commented the `config.ts` file.

[2022-03-20 06:15] ospfranco commented on #4
Xcode settings are a finicky thing, I need the certificate in there to build release versions of the app, so I will probably not remove it. The question is how do other open source projects handle this setting.

[2022-03-20 06:15] #4 closed

[2022-03-20 06:25] ospfranco commented on #5
I added some check to the native key emitters, try on main, should not emit any warning now

[2022-03-20 06:26] ospfranco commented on #6
I changed this, the env.json file is no longer being used, there is a in-app command to set the API key and the coordinates.

<img width="745" alt="Screenshot 000011" src="https://user-images.githubusercontent.com/1634213/159150912-8896c280-76d8-45e2-987b-4400791bb1a4.png">

[2022-03-20 06:26] #6 closed

[2022-03-20 11:19] Angelk90 commented on #6
@ospfranco :

<img width="782" alt="Schermata 2022-03-20 alle 12 18 56" src="https://user-images.githubusercontent.com/20476002/159159727-38aa5bca-101d-45b8-884e-2130df441cac.png">

even if i put all the data, how do i confirm?

[2022-03-20 11:26] Angelk90 commented on #6
@ospfranco : In case there is no `apiKey` and no audio application open, wouldn't it be better not to show it?

<img width="785" alt="Schermata 2022-03-20 alle 12 14 04" src="https://user-images.githubusercontent.com/20476002/159159961-baea5990-f1ca-4e62-bc29-30021962c686.png">

[2022-03-20 11:28] Angelk90 commented on #6
<img width="741" alt="Schermata 2022-03-20 alle 12 27 38" src="https://user-images.githubusercontent.com/20476002/159160016-2bbdaa3e-214b-4427-8d6f-95591b3d7e56.png">

If an invalid code is entered, for example, I get this, after reloading, closing and reopening sol.

[2022-03-20 11:41] Angelk90 opened #7 "Track project problem"
Hi @ospfranco , when i start a track project i get the following two problems:
- As you can see from the video the input field when a text is entered, the placeholder text drops
- After creating a test, there is a problem with keys which are not unique

https://user-images.githubusercontent.com/20476002/159160369-db143049-9356-4daf-9c34-4787632d608b.mov

[2022-03-20 11:47] Angelk90 commented on #5
@ospfranco : It seems to be giving no errors now, what could be the problem?

[2022-03-20 11:47] #5 closed

[2022-03-20 11:53] Angelk90 opened #8 "Strange behavior with the reload"
Hi @ospfranco , when I reload I get these strange behaviors:
- Audio I was listening to can no longer be seen below
- Standard applications are not shown

To return to how I was before I have to close the app (esc key) and reopen it.

https://user-images.githubusercontent.com/20476002/159160854-403d3ec4-a1a0-48a2-b373-bd07d9352207.mov

[2022-03-20 11:59] ospfranco commented on #6
feel free to open pull requests for all this stuff, so far I've developed this app for myself, it is very unpolished

[2022-03-20 12:00] Angelk90 opened #9 "Strange problem with scaling"
Hi @ospfranco , as you can see I am testing in all ways sol.

I tried to resize it as seen from the video and I get this result.

The problem is that I can't get back to its original shape or try to shrink everything after enlarging the app.

https://user-images.githubusercontent.com/20476002/159161108-ede818b0-c0f0-4864-9dd1-97c07d563311.mov

[2022-03-20 12:00] ospfranco commented on #5
you can check out the commit I did to fix it

[2022-03-20 12:01] ospfranco commented on #8
yes, the app loads the native queries when the onShown listener is called, doing a hard reload causes the cache to be emptied, this is only an issue while developing the app

[2022-03-20 12:01] #8 closed

[2022-03-20 12:02] ospfranco commented on #9
the window is not meant to be resizable, feel free to open a PR though, this is minor

[2022-03-20 12:56] Angelk90 commented on #9
@ospfranco : Would it be possible to make sure that it is not resized?

[2022-03-20 17:22] ospfranco commented on #9
ok, should be fixed

[2022-03-20 17:22] #9 closed

[2022-03-20 18:19] ospfranco commented on #7
Should be fixed

[2022-03-20 18:19] #7 closed

[2022-03-20 20:00] Angelk90 opened #11 "Stop track work time"
Hi @ospfranco , I'm not quite understanding how to use `Track time`.

I have created several but:
- How exactly they work
- how do I delete a specific one, I tried to use `Stop Track time` but it doesn't seem to work

[2022-03-20 20:09] Angelk90 opened #12 "No events"
Hi @ospfranco , When there are no events, it would be better not to show anything instead of the image,

There would be more space for scrolling elements.

<img width="773" alt="Schermata 2022-03-20 alle 21 04 50" src="https://user-images.githubusercontent.com/20476002/159183881-9e53568c-83f0-472a-bf26-434d1e4d2f4d.png">

[2022-03-20 20:15] Angelk90 opened #13 "Text input caret not visible"
Hi @ospfranco , as you can see from the video when it is in light mode it is not clear whether there is focus or not in an input field.

It also happens in the other input fields, for example weather config api.

In the video it can be seen better below because it is zoomed in, but in reality it is not seen.

https://user-images.githubusercontent.com/20476002/159184122-cbc3ec06-3534-4411-8bf6-0d55

[2022-03-20 20:32] ospfranco commented on #12
I dont think scrolling hundreds of Elements is useful

[2022-03-20 20:32] #12 closed

[2022-03-20 20:33] ospfranco commented on #13
Unfortunately RN does not allow for detailed customization

[2022-03-20 20:34] ospfranco commented on #11
It's a turn on/turn off system, I created for myself, anything else is not supported at the moment

Any improvement will have to be discussed. But there are many things that will require a tutorial or an onboarding, which I have no plans to build at the moment

[2022-03-20 20:34] #11 closed

[2022-03-21 06:16] ospfranco commented on #12
I get your point though, I'll see what else can be done, but the app really needs an onboarding tutorial

[2022-03-21 06:34] ospfranco commented on #13
I opened a new issue in the RN-macOS repo

https://github.com/microsoft/react-native-macos/issues/1096

needs to be fixed on the framework before it can be fixed here

[2022-03-21 08:34] Angelk90 opened #14 "Give the possibility to set different commands for the start"
Hi @ospfranco , it would be possible to set different commands for startup, instead of using the `Command + Space shortcut` which also starts `Spotlight`.

A way to be able to register a different command if user wants.

[2022-03-21 08:45] Angelk90 opened #16 "Order information of the apps"
Hi @ospfranco , I was wondering but what order of apps is based on the most used ones recently?

It would be possible to put something on the right that gives you the possibility to select if the order of the apps should be by the most used ones recently or in alphabetical order.

[2022-03-21 08:58] ospfranco commented on #14
PRs are welcome

[2022-03-21 08:59] ospfranco commented on #16
it's based on used recently, adding alphabetical order makes little since IMO, nobody scrolls hundreds of items

[2022-03-21 08:59] #16 closed

[2022-03-21 09:00] Angelk90 opened #17 "Correct use of the translate widget"
Hi @ospfranco , I wanted to try the translator but I can't find it.

[2022-03-21 09:09] Angelk90 opened #18 "Problems with permissions"
Hi @ospfranco , once permission to execute a command has been denied, for example:

- Dark mode
- AirDrop

If you try to start it later, nothing happens.

Correct use:
I think if the first time you deny the permission, if you later try to start it, it should ask for permission again.
Instead it does nothing.

[2022-03-21 09:15] Angelk90 opened #19 "Show the General Widget only when necessary"
Hi @ospfranco , why not show the General Widget only when necessary?

For example like this:
[code]

Same thing for the CalendarWidget too, if there are no events it would be correct not to show it.
[code]

[2022-03-21 09:23] ospfranco commented on #17
type something then press CMD + 1

[2022-03-21 09:23] ospfranco commented on #18
not possible, macOS limits permission requests to a one time only

[2022-03-21 09:23] #18 closed

[2022-03-21 09:24] ospfranco commented on #19
product design decision I have not made yet

[2022-03-21 09:24] #19 closed

[2022-03-21 09:29] Angelk90 commented on #17
@ospfranco : I would never understand how to use it.

in this way, when can the text sent be large?

[2022-03-21 09:30] Angelk90 commented on #18
@ospfranco : this is a real problem.

[2022-03-21 10:18] Angelk90 commented on #17
When I do CMD + 1, the browser with the email also opens.

[2022-03-21 10:26] ospfranco commented on #17
- don't understand the question
- I know, this needs a tutorial
- there is some problem with listeners/mobx and hot reload, do a hard reload and it will work fine

[2022-03-21 10:28] ospfranco commented on #18
Nothing can be done about it, this is a macOS limitation, but chill man, the product is very early right now, I know all the stuff you are complaining about, but this requires a lot more thought, Settings views, more configuration variables, etc.

If this is important to you, you can start sending pull requests

[2022-03-21 10:32] Angelk90 commented on #17
@ospfranco : In this case with the call how can you not have problems with cors?

[2022-03-21 10:50] ospfranco commented on #17
CORS is a browser feature, react-native can do requests to wherever it pleases

[2022-03-21 11:38] Angelk90 commented on #17
@ospfranco , Ok, it would have been nice if the browser worked.

I did a test with the script on `react-native`, using my device as an emulator.

It works well, but the console comes back to me with a strange problem:

[code]

Does that check serve to verify if it is not `null`?
Why haven't you used `RegExp`?

P.s.
That semicolon at the beginning what is it for?

`        ;(json[1][0][0][5] as any

[2022-03-21 12:10] ospfranco commented on #17
I don't know which code are you pointing me to, that looks like the code from the translation library but that shouldn't be your concern, I meant more about language handling and the list of supported languages.

https://github.com/ospfranco/google_translate_supported_languages

[2022-03-21 18:17] Seiyial opened #21 "Cannot proceed with onboarding (1.0.2)"
Hi @ospfranco, I saw Sol in my ProductHunt newsletter and I can't wait to try it out and add all my command shortcuts to it.
I downloaded the latest release 1.0.2 (4h before this is posted), dragged it into my Applications folder, double clicked it and saw this.

<img width="801" alt="image" src="https://user-images.githubusercontent.com/25403498/159337929-799d9947-9850-4e3b-8a08-f6632dc91dd1.png"

[2022-03-21 18:20] ospfranco commented on #21
Weird, I'll take a look ASAP but it's a bit late here, so maybe tomorrow, can you try with the older version? also, there are currently no customizable shortcuts! something that I will definitely work asap though

[2022-03-21 18:54] DillonB07 opened #22 "Spotlight being displayed & not all apps appearing"
... I think the title is pretty self-explanatory, but when I press ⌘+ Space Spotlight appears on top of Sol.

Really cool project though! However I also noticed that the apps in `/Users/<user>/Applications` doesn't appear in Sol. Just in `/Applications`. Would you be able to implement this in the future please? I generally install apps locally rather than globally so this project is useless for me

[2022-03-21 18:56] ospfranco commented on #22
yeah, the current binding is hardcoded to command + space, so you need to unbind spotlight before you can use this, the next version will allow to select another binding

Got you on the /Applications folder, will do it soon

[2022-03-21 18:57] DillonB07 commented on #22
Awesome! Thanks for the speedy response! How do you unbind Spotlight though? I did some research and couldn't find out how to disable it.

[2022-03-22 06:05] ospfranco commented on #22
You can try the latest release https://github.com/ospfranco/sol/releases/tag/1.0.3 should display the user-specific applications

[2022-03-22 06:05] ospfranco commented on #21
Please try again with the latest version https://github.com/ospfranco/sol/releases/tag/1.0.3 should be working now

[2022-03-22 06:54] ospfranco commented on #14
There is a new onboarding where one is able to select between command + space and option + space, a more custom version will take more time and is not my priority right now

[2022-03-22 06:54] #14 closed

[2022-03-22 08:21] Seiyial commented on #21
It's working now. Thanks!!

[2022-03-22 08:21] #21 closed

[2022-03-22 18:05] Angelk90 opened #23 "Grant Sol access to your Calendar under System Preferences"
Hi @ospfranco , at the first start, as you can see from the image it tells me to `Grant Sol access to your Calendar under System Preferences` but if you see above I have already given access otherwise the events would not appear.

<img width="749" alt="Schermata 2022-03-22 alle 19 01 17" src="https://user-images.githubusercontent.com/20476002/159546427-105077c2-d981-43c9-82d8-477c4cef0e2e.png">

[2022-03-22 18:08] Angelk90 opened #24 "Hermes: missing required parameter host"
Hi @ospfranco , i got this error after upgrading to the new version, deleted node_modules and re-installed everything.

<img width="995" alt="Schermata 2022-03-22 alle 18 54 12" src="https://user-images.githubusercontent.com/20476002/159546958-9284ad23-1854-42a6-960e-6fe21686db94.png">

[2022-03-22 18:12] Angelk90 opened #25 "Track time negative hours and minutes"
Hi @ospfranco , why is it that when I run a newly created track time it gives me negative hours and minutes?
<img width="96" alt="Schermata 2022-03-22 alle 19 09 20" src="https://user-images.githubusercontent.com/20476002/159547590-bdf21bc6-e228-4d35-abf6-5bbfda75b9db.png">

[2022-03-22 18:24] Angelk90 opened #26 "Logo about"
Hi @ospfranco , as you can see from the image when it is in light mode, the logo is not visible.

I tried a similar thing, but when the theme change happens it doesn't update.

[code]

<img width="165" alt="Schermata 2022-03-22 alle 19 12 55" src="https://user-images.githubusercontent.com/20476002/159548067-2f8fdeec-4060-4052-aed2-83175f589af5.png">

[2022-03-22 18:33] ospfranco commented on #23
still working on this

[2022-03-22 18:33] #23 closed

[2022-03-22 18:34] ospfranco commented on #25
I set the time only on application open, this is still WIP and also minor

[2022-03-22 18:35] ospfranco commented on #26
ah, well, that will not work, hydrate only runs once and you cannot use hooks outside components, but this is somewhat minor, I'll take care of it another day

[2022-03-22 18:36] ospfranco commented on #17
Will take care of setting translation languages and the whole setting UI for it later

[2022-03-22 18:36] #17 closed

[2022-03-22 19:47] #26 closed

[2022-03-22 19:48] ospfranco commented on #22
This should be working now

[2022-03-22 19:48] #22 closed

[2022-03-22 20:02] ospfranco commented on #23
Cannot reproduce, you probably need to restart the app

[2022-03-22 20:12] ospfranco commented on #23
nvm, found it

[2022-03-22 20:24] Angelk90 opened #27 "MMKV"
Hi @ospfranco , Instead of using `AsyncStorage` why not use [react-native-mmkv](https://github.com/mrousavy/react-native-mmkv)?

[2022-03-22 20:35] Angelk90 commented on #18
@ospfranco : Is there any way to reset everything?
For example to run Dark mode and AirDrop what permissions do they need?

[2022-03-22 21:17] ospfranco commented on #27
probably doesn't compile on macOS, also not necessary

[2022-03-22 21:17] #27 closed

[2022-03-23 03:28] soulsam480 opened #28 "Start on boot ?"
Hello, really nice piece of software. I was wondering if we can init sol on boot ?

[2022-03-23 05:33] ospfranco commented on #28
Will do soon, trying to fix other stuff at the moment!

[2022-03-23 06:32] ospfranco commented on #28
Try the latest version 1.0.6 should be working now

[2022-03-23 09:54] Angelk90 commented on #4
@ospfranco :  with latest version with added of `LaunchAtLogin` it seems you get the following error when running.

[code]

[2022-03-23 12:48] ospfranco commented on #4
the LaunchAtLogin dependency requires ssh setup, you need to configure your XCode to hold your github credentials

[2022-03-23 12:54] jbrodriguez opened #29 "Apps with space in their names"
Hi, just to report that it can't find apps such as "Screen Sharing", goes for a google search instead

[2022-03-23 13:37] ospfranco commented on #29
<img width="747" alt="Screenshot 000059" src="https://user-images.githubusercontent.com/1634213/159712246-2127017b-7ea5-4bee-afa7-f57792308559.png">

I don't think it is related to the space, but actually which directories I scan for apps, Screen Sharing is probably in some utilities folder, I'll check later.

Thanks!

[2022-03-23 13:37] #28 closed

[2022-03-24 09:02] Angelk90 opened #31 "Track work time"
Hi @ospfranco , what do you think of a graphic like this?
<img width="717" alt="Schermata 2022-03-24 alle 10 01 17" src="https://user-images.githubusercontent.com/20476002/159880289-ef16488d-fdf7-49e5-bfe6-8d3a84d4880b.png">

[2022-03-24 10:19] ospfranco commented on #31
months have different colors until I have more time to make this graph look nicer, please ignore all the time tracking for now

[2022-03-24 10:19] #31 closed

[2022-03-24 10:32] ospfranco commented on #29
![Screenshot 000071](https://user-images.githubusercontent.com/1634213/159897451-f60b70ba-594a-4e1e-8b8d-cd4cb758880b.png)

Well... that's hidden... ehm... not sure what to do, I guess I don't want to scan for everything on that folder, since most apps look like not runnable, but rather looks like I need to add that one separetely

[2022-03-24 10:35] ospfranco commented on #29
I added a single path for this application, should be there on the next release

[2022-03-24 10:35] #29 closed

[2022-03-24 10:39] ospfranco commented on #25
Fixed

[2022-03-24 10:39] #25 closed

[2022-03-24 18:21] Angelk90 commented on #31
@ospfranco : For the calculation of the `lastDays` what do you think of a solution of these two, the times seem to be reduced.

[code]

o

[code]

[2022-03-27 16:59] ospfranco commented on #13
Doubt this will get fixed any time soon, I could create a custom native text input component, but I'm too lazy to do this and this feels like a minor thing, I changed to color to a blue that is not so invisible on the white theme

[2022-03-27 16:59] #13 closed

[2022-03-29 14:59] Angelk90 commented on #4
@ospfranco : Still errors:

<img width="1438" alt="Schermata 2022-03-29 alle 16 53 32" src="https://user-images.githubusercontent.com/20476002/160640447-8cdd4259-9fc4-49a1-9b68-49bed0bac736.png">

Searching:
<img width="268" alt="Schermata 2022-03-29 alle 16 51 22" src="https://user-images.githubusercontent.com/20476002/160640202-cba1ad7d-7d93-48ef-b5b9-d2c9d22498db.png">

You could take a look at

[2022-03-29 18:07] ospfranco commented on #4
you probably need to reset any caches and derived files xcode has

[2022-03-29 19:48] Angelk90 commented on #4
@ospfranco : I cleared the cache, I reset the packages, I also cleared the DerivedDate folder.
Same problem.

[2022-03-29 19:51] ospfranco commented on #4
probably something wrong with the default command then, the I renamed the default scheme from sol-macOS to macOS, try changing it on the package.json

[2022-04-01 19:20] Angelk90 opened #32 "TypeError: Cannot convert undefined value to object"
Hi @ospfranco , i am getting the following error:

<img width="955" alt="Schermata 2022-04-01 alle 21 19 33" src="https://user-images.githubusercontent.com/20476002/161327996-087c073e-f341-4330-a990-f1739e01a005.png">

When I try to open it `cmd + space` opens sol and then closes right away.

[2022-04-02 06:11] ospfranco commented on #32
I don't seem to be able to reproduce it, are you sure you are on the latest changes?

[2022-04-02 07:49] Angelk90 commented on #32
@ospfranco : I cloned the project with the latest changes.

[2022-04-02 08:01] ospfranco commented on #32
I added some default values to the store, maybe that will fix it

[2022-04-02 08:06] Angelk90 commented on #32
This is what is happening now, it opens and closes right away.

https://user-images.githubusercontent.com/20476002/161373420-e5aaca51-d633-4b8e-a4c7-41488c46ae64.mov

[2022-04-02 08:19] Angelk90 commented on #32
@ospfranco : it is normal to receive this message in the console?

[code]

[2022-04-02 13:31] ospfranco commented on #32
I cannot reproduce it, you probably built some temporary version and that messed up the state of the store.

You can try to delete the storage file at: `~/Library/Application\ Support/com.ospfranco.sol/RCTAsyncLocalStorage_V1` and see if that works

[2022-04-02 13:59] Angelk90 commented on #32
@ospfranco :

I deleted both:

- `~/Library/Application\ Support/com.ospfranco.sol/RCTAsyncLocalStorage_V1`
- `/Users/userName/Library/Developer/Xcode/DerivedData`

I am currently getting the following error:

[code]

[2022-04-03 06:38] ospfranco commented on #32
it's better if you delete the entire folder (`com.ospfranco.sol`) and did you also rebuild the app? like I said, I cannot reproduce it, even if I delete all the data from my computer

[2022-04-03 08:27] Angelk90 commented on #32
@ospfranco : I just deleted the whole folder com.ospfranco.sol, error seems to be due to AsyncStorage.

[2022-04-03 08:54] ospfranco commented on #32
Like I said, I cannot reproduce it, so you will have to solve it on your own, sorry

[2022-04-09 16:23] #32 closed

[2022-04-11 19:55] mfbx9da4 opened #34 "Request: search system preferences"
It would be cool to search the system preferences and deep link into the setting

[2022-04-11 20:04] ospfranco commented on #34
So far I've only hardcoded the display settings, maybe there is a way to get the list of items programmatically in Swift. If you can figure it out feel free to tackle it... otherwise I might try to take a look much later.

[2022-04-11 20:58] mfbx9da4 commented on #34
I've found this list but I don't see how to import the `SystemPreferences` Object? Any ideas. Otherwise I'm happy to hardcode the list

[2022-04-11 21:08] mfbx9da4 commented on #34
Threw this together https://github.com/ospfranco/sol/pull/36

It does unfortunately contain some unrelated stying fixees though

[2022-04-12 05:53] ospfranco commented on #34
thanks for the PR! It's merged and I will create a release soon.

Just as a friendly request, I put a couple of extra minutes to put a name field on most items, I try to keep the app polished enough so that there are no glaring flaws, next time would be great if you could also tackle that as well :)

[2022-04-12 05:53] #34 closed

[2022-04-12 09:25] mfbx9da4 commented on #34
Yeah absolutely did it very quickly and was excited to see it working but definitely could have spent more time curating the individual items. I think it would be nicer if each preference had the system preference icon, will add!

[2022-05-05 09:55] ospfranco opened #40 "Correctly request permissions."
There should be some onboarding screens where the user can pause for a bit and enable things like calendar access and accessibility.

Right now the app starts and closes immediately due to calendar and accessibility permission and then they probably don't know how to get back in...

[2022-05-07 06:16] #40 closed

[2022-05-30 13:01] aemi-dev opened #41 "Sol is not compatible with Homebrew Cask Standard Livecheck"
Hi Oscar,

I'm trying to [PR](https://github.com/Homebrew/homebrew-cask/pull/124528) a cask on Homebrew for Sol but the cask could not correctly verify whether it's the latest or not.

Homebrew performs a livecheck when installing a cask according to different methods (described in the [documentation](https://docs.brew.sh/Brew-Livecheck)).

However, you're currently providing 2 ways to get the las

[2022-05-30 14:21] ospfranco commented on #41
I can update the latest tags to all match, but keeping the latest tag always populated is not really a good solution. Sometimes I need to do testing and I play around with tags quite a bit. Or prepare to do a release and end up not releasing it. Would it be possible to use the appcast.xml only?

[2022-05-30 14:29] ospfranco commented on #41
Yeah, it would be better, the releases page was just the easiest solution at the time, but I might as well just drop it and use the appcast only.

Thanks for taking the time to create the cask though! really appreciate it!

[2022-05-30 14:39] aemi-dev commented on #41
Yes, noted. I completely understand. Let's do that.

You're welcome! ;)

[2022-05-31 16:17] #41 closed

[2022-06-07 09:29] sublimal opened #42 "Command+Shift+V keyboard binding conflicts with expected OS "Paste and Match Style" behaviour"
This is a fairly common keyboard shortcut (Command+Shift+V) to paste without style. Sol hooking this hotkey is overriding the expected OS behaviour even without sol being open.

https://github.com/ospfranco/sol/blob/acbb1ad50e1106824e1b1a73913d1fb2eef457e1/macos/sol-macOS/AppDelegate.swift#L27

As there is currently no way to disable or customise keybindings in sol can this shortcut be changed to

[2022-06-07 09:37] ospfranco commented on #42
Currently there is no option to customize this behavior, but your are right, I'll add it later

[2022-06-16 09:33] #42 closed, assigned to nobody

[2022-06-19 09:51] nitaking opened #43 "i18n"
e.g. Japanese for example, are currently incompatible with SOL's launcher UI.

I think so can be performed after conversions are being finalized.

## screenshot
![2022-06-19 18 45 22](https://user-images.githubusercontent.com/10850034/174475414-2214b3be-58ca-48d1-9fba-76ab2953af89.gif)

[2022-06-19 18:21] ospfranco commented on #43
I haven't even started thinking about internationalization yet. Not really sure what you mean, but if you think it is easy to implement you can submit a PR and I will help you merge it

[2022-06-20 11:14] karimbutt opened #44 "Unable to deep link into application (e.g., authentication)"
Hey @ospfranco - thank you SO much for your work on Sol. What an incredible application - finally able to tweak and customize the command palette like I could not do with other apps like Alfred.

I have a question for you - I'm looking to extend Sol a bit by adding authentication (right now using Auth0). Auth requires essentially the ability to send the user out of the Sol application and then bac

[2022-06-20 12:48] ospfranco commented on #44
The main app window is hidden/closed by default. In the app delegate you probably need to call showWindow(). initialUrl will probably not work since that is thought for mobile apps where the app might be silently killed in the background, whereas for macOS sol will not work if it is not *actually* running.

[2022-06-20 19:04] karimbutt commented on #44
@ospfranco thanks! Where would you call showWindow()? You have that in the appDelegate at the end of the applicationDidFinishLaunching . Can't seem to get any URL data to feed into the app or to even trigger making it visible.

Makes sense re: initialURL use case being very different.

[2022-06-20 20:05] ospfranco commented on #44
I don't quite understand what you want, you should call showWindow wherever you are handling the notification. This is what the official documentation says for iOS:

<img width="998" alt="Screenshot 000635" src="https://user-images.githubusercontent.com/1634213/174671082-80811724-d7b9-460a-b242-b89d8aac1e90.png">

I haven't built anything for the JS side to handle URLs yet. You seem to be going fo

[2022-06-21 11:15] karimbutt commented on #44
Thanks @ospfranco ! Managed to resolve the issue so closing this. The initial code did work; it's just I had two versions of the app running with same URL scheme. I'll look into a way to get it working in the task bar to see the instances of the app running next :) Thanks again for your help!

[2022-06-21 11:44] ospfranco commented on #44
You just need to remove the applicationIsUIAgent in the info.plist

[2022-06-22 06:55] aemi-dev opened #45 "File search"
Hi Oscar,

Are you planning to implement a file search in Sol ?

Would be great to have one, with something similar to the Google Dorks to make it more convenient to look for specific files.

It may be an easy feature or it may not but overall I can't work on that myself at the moment.

Best Regards
Guillaume

[2022-07-03 10:50] aemi-dev commented on #45
Google dorks are used to make specific search faster on Google. For example, if you're looking for file, for a certain format, you can just type: `whatever your search filetype:pdf`

You can search for results only served by some website with `site`, and many other things like operators (OR, AND, ...) and a lot more.

See https://support.google.com/websearch/answer/2466433?visit_id=637924421885054

[2022-07-29 06:26] aoponcedeleon opened #46 "Top half clipped"
Hi Oscar,

I just downloaded the newest version because I wanted to try out the transparency. Had 1.1.32 before this and it worked fine. Now it seems that the top half of the search is clipped out when I press `cmd + k`

### Screenshots

<img width="798" alt="Screen Shot 2022-07-29 at 2 20 02 PM" src="https://user-images.githubusercontent.com/28593720/181695798-090d529f-e0ba-4a6b-99ca-f84ae4a9f6c6

[2022-07-29 06:35] ospfranco commented on #46
cmd + k?

Can you give a bit more details, which macOS version are you using for example? on monterrey it is working fine for me

[2022-07-29 06:42] aoponcedeleon commented on #46
Oh my bad, I meant to say `cmd + space`

I'm using Monterey as well (Ver 12.4)

[2022-07-29 07:11] ospfranco commented on #46
Weird, have you tried restarting the app? Otherwise I will try to take a look over the weekend

[2022-07-29 07:14] aoponcedeleon commented on #46
Yeah, I even tried reinstalling it, but to no avail.

Alright, will keep testing it. Thanks!

[2022-07-29 07:19] ospfranco commented on #46
Would be nice if you can provide more details, screen resolution? multiple monitors? etc

[2022-07-29 08:20] aoponcedeleon commented on #46
**OS:**
MacOS Monterey 12.4

**Chip:**
Apple M1 Pro

**Screen Res:**
3024 x 1984
Display Settings is set to Default (it says Looks like 1512 x 982 when looking at the scaled resolution)

Issue occurs both when connected to a second monitor and when not connected. I've also tried restarting the app after connecting it to the monitor and it still happens.

The resolution of the second monitor I plug

[2022-08-01 16:11] ospfranco commented on #46
I just tried re-installing 1.1.33 from the releases page and everything is working for me. Any additional info you could give?

[2022-08-01 18:01] ospfranco commented on #46
I've released a new version 1.1.34 with a minor native change, maybe it will fix it

[2022-08-02 16:14] aoponcedeleon commented on #46
I've updated my Mac to the Monterey 12.5, using your newest version , and it doesn't do that anymore!

Pretty unclear what caused it to malfunction in the first place but I think it's all good now, thanks! :)

[2022-08-02 19:21] ospfranco commented on #46
ah, then it was the macOS version... every release is a bag of bugs nowadays :P anyways, glad to see it is fixed!

[2022-08-10 05:28] nicokosi opened #48 "How to select/deselect calendars (or give them a priority)? 📆"
Hello,
As an Alfred user, I am curious about Sol. 😎
I have just installed it and I have questions about the calendar integration. 📆

I have 1 personal calendar and 2 professional ones and I would like to show the events from my personal calendar, at least:
<img width="1440" alt="Screenshot 2022-08-10 at 07 12 38" src="https://user-images.githubusercontent.com/3862051/183821362-2cd12379-7eb4-46ea-9

[2022-08-10 05:32] ospfranco commented on #48
[Only the first three events are shown indeed](https://github.com/ospfranco/sol/blob/main/src/widgets/calendar.widget.tsx#L21) no support for further filtering atm. PRs are more than welcome, but first it would be ideal to discuss a bit how would you imagine this working.

[2022-08-10 06:47] nicokosi commented on #48
OK, thank you! :+1:
Not sure to have clear ideas about how it could evolve, so I close this issue for now.

[2022-08-10 07:07] ospfranco commented on #48
I do get that full day events are maybe not that important though, especially if you have an appointment coming soon... I will tweak the logic a bit later, but thanks for reporting!

[2022-08-10 08:03] etherealSunshine commented on #46
Hi, I'm still having this issue
OS:
macOS Monterey 12.5

Chip:
Apple M1

Screen Res:
2560 × 1600

Any Suggestions on how to fix this? I tried reinstalling through brew and manually installing 1.1.34
Thanks!

[2022-08-10 08:15] etherealSunshine commented on #46
this is how it shows up for me for reference
<img width="794" alt="image" src="https://user-images.githubusercontent.com/81072340/183850859-9f73038e-050c-479f-874e-017781475ec5.png">

[2022-08-10 08:29] ospfranco commented on #46
I just released a new version (1.1.36) can you try that one?

[2022-08-10 08:30] ospfranco commented on #46
You won't be able to fix this with any settings, it's a problem with RN macOS and the UI view constraints, unfortunately I'm not able to reproduce the issue on my machines so I'm blindly trying stuff to see what fixes it

[2022-08-10 08:52] foss- opened #50 "download button should download latest version"
https://www.solapp.io/ has a nice download button. But instead of downloading the latest version it directs users to https://github.com/ospfranco/sol/tree/main/releases showing downloads from old to new in confusing order.

It would be great if a click on download would just download the latest version.

[2022-08-10 08:56] ospfranco commented on #50
Feel free to submit a PR, but it is a static site:

https://github.com/ospfranco/site_sol

[2022-08-10 09:22] foss- commented on #50
I know how that works, sadly I am not a developer so you wouldn't not want to deal with my PRs. Do you only want feature requests from people willing to personally work on what they file? Am aware Feeder has such a policy, so in that case feel free to close this issue.

[2022-08-10 10:15] foss- opened #51 "open file in finder when pressing cmd+enter"
Most launcher allow to open a file in finder when pressing `cmd+enter` with a file selected from search results. Would be great if this was also possible with Sol.

[2022-08-10 10:20] ospfranco commented on #50
[I encourage ppl to submit PRs because I don't work for free](https://ospfranco.com/post/2022/07/27/sustainable-open-source-manifesto/) but just leave it open and maybe I will get to it when I have time

[2022-08-10 10:21] ospfranco commented on #51
duplicate of #45

[2022-08-10 10:35] foss- opened #52 "window manager: extend options to also use quarter screen"
[https://github.com/rxhanson/Rectangle](https://github.com/rxhanson/Rectangle) shows nice default keyboard shortcuts which could be used to allow Sol window manager to also support quarter screens.

[2022-08-10 11:05] redii opened #53 "Multiple displays"
Hey Oscar,

saw you on HN today, great tool keep it up!

I was using Alfred before and noticed one minor difference. With multiple displays Alfred (and I think default spotlight search too) shows the searchbar on the display on which my mouse is at the moment. With sol it comes up on the display where my focused application is.

Maybe if you have time, that would be a nice little thing to add.

[2022-08-10 12:42] NickTaylor- commented on #46
1.1.36 still has this issue on my machine (M1 on 12.5).

It looks like the offset _may_ be worse, but its hard to tell.
<img width="862" alt="image" src="https://user-images.githubusercontent.com/6677407/183903889-1b711f91-1d7d-4ca4-abe0-faa429523bd8.png">

[2022-08-10 12:59] ospfranco commented on #52
I kinda decided against it, because it adds complexity to the product, but I might revisit the idea if enough people ask for it

[2022-08-10 13:01] ospfranco commented on #46
If any UIKit expert is out there:

https://github.com/ospfranco/sol/blob/main/macos/sol-macOS/AppDelegate.swift#L67

Any help getting auto constraints to work properly would be appreciated... I'll give a day or so, otherwise revert it to a full size window until I can get it to work properly

[2022-08-10 13:43] foss- commented on #52
This is certainly use-case dependent. I can see how left and right is sufficient on a laptop. However if sitting in front of a 43" monitor the quarters are *really* useful. Thanks for considering.

[2022-08-11 05:57] uwussimo opened #54 "Padding to bottom"
Can't see the interface, launcher is padding to bottom leaving blank space.
![Screen Shot 2022-08-11 at 10 55 51](https://user-images.githubusercontent.com/91214940/184072488-6764d087-43df-4d72-8a3d-507a75fdf00f.png)

[2022-08-11 06:33] ospfranco commented on #54
duplicate of #46

[2022-08-11 06:33] #54 closed

[2022-08-11 06:40] uwussimo commented on #54
my apologies

[2022-08-11 06:57] ospfranco commented on #46
I've released version 1.1.37, I've removed the blurry window effect (which was causing the window not being properly placed) let me know if you have issues still

[2022-08-11 07:46] etherealSunshine commented on #46
still shows up like this
<img width="775" alt="image" src="https://user-images.githubusercontent.com/81072340/184086688-59a0272d-7b6f-4cf1-938d-d9952ba296d6.png">

[2022-08-11 11:53] mgussekloo commented on #46
Yup, same here

[2022-08-11 14:35] jackoliver opened #55 "Crash when deleting all scratchpad notes."
Experienced an issue where I am no longer able to use the scratchpad after deleting all notes.

[2022-08-11 18:40] ospfranco commented on #55
True, thanks for finding the problem

[2022-08-11 18:47] ospfranco commented on #55
A fix is released in 1.1.40

[2022-08-11 18:48] ospfranco commented on #46
There is a new 1.1.40 with yet another try to fix the issue, let me know if it works

[2022-08-11 19:07] NickTaylor- commented on #46
That seems to have fixed it 🎉

Thank you so much ❤️

[2022-08-12 10:20] etherealSunshine commented on #46
Yep same here!

[2022-08-12 10:22] etherealSunshine opened #56 "Error shows up while typing map"
<img width="792" alt="image" src="https://user-images.githubusercontent.com/81072340/184335460-6e122b9d-5954-4b36-b354-42ff506ad5a1.png">

[2022-08-12 10:23] etherealSunshine commented on #56
this only happens when everything is lowercase, on typing Map, it doesn't happen

[2022-08-12 15:34] jackoliver commented on #55
Nice one, thanks @ospfranco :D

[2022-08-12 15:35] #55 closed

[2022-08-12 17:19] foss- opened #57 "show keyboard shortcut for clipboard manager"
**Currently**

When unaware of keyboard shortcut for clipboard manager, there is no way to learn about it, if a user forgot about it from the initial tutorial.
![1](https://user-images.githubusercontent.com/5708172/184410517-910651a1-f949-4f9e-a6f4-777a7b29d2ed.png)

**Expected**

Why not show the keyboard shortcut (if not invoked from keyboard shortcut) and give users the chance to learn.

[2022-08-13 07:12] #46 closed

[2022-08-13 16:41] ospfranco commented on #56
It is not an error, it's just the JavaScript evaluator. But I will see if there something to be done about it

[2022-08-14 11:01] foss- opened #58 "Find applications in subfolders of applications folder or outside default applications folder"
**Currently**

Applications in subfolders are not found e.g. `/Applications/ScanSnap/ScanSnap_Manager.app`.

This also applies to applications which reside outside the applications folder like `/Users/Username/Applications/JDownloader 2.0/JDownloader2.app`

**Expected**

Would be nice to also open those applications from Sol. Interestingly applications like `Activity_Monitor.app` located in the `U

[2022-08-14 11:59] ospfranco commented on #58
The applications on the Utilities folder I added manually as a path scan, for nested subfolders I did not take into a account, PRs are welcome

[2022-08-14 18:08] ospfranco commented on #57
Will be on the next version

[2022-08-14 18:08] #57 closed

[2022-08-14 18:21] ospfranco commented on #56
Will be there on the next release

[2022-08-14 18:21] #56 closed

[2022-08-14 18:39] ospfranco commented on #53
Will be there on the new version

[2022-08-14 18:39] #53 closed

[2022-08-15 05:32] ospfranco commented on #50
I took a quick look but there is no easy way to get a download link from brew which automatically parses the appcast.xml which contains the info about the latest release, I would have to manually try to parse the file structure in the github repo... which is not really worth my time atm. I will close for now, it's not pretty but it works.

[2022-08-15 05:32] #50 closed

[2022-08-15 05:48] ospfranco commented on #48
I got a bit lazy to write some complex logic to show (or not) all day events when there is no other event available, but I figured for those the OS notifications are enough, so for now I'm hiding them

[2022-08-15 05:48] #48 closed

[2022-08-15 06:18] ospfranco commented on #58
Will be there on next release

[2022-08-15 14:13] foss- opened #59 "Random crash on 1.1.42"
Unsure which change introduced this problem but since updating to 1.1.42 I am unable to reliably launch Sol via cmd+space which I selected in the setup wizard.

When I open Sol from spotlight it shows and I can use it. If it then vanishes and I try to invoke it via cmd+space nothing happens.

[code]

[2022-08-15 14:20] ospfranco commented on #59
hmm I think I know what it is

[2022-08-15 14:35] ospfranco commented on #59
1.1.44 is out, give it a try and let me know if it works

[2022-08-15 14:44] foss- commented on #59
Thanks for looking into this. 1.1.44 output:

[code]

Still not showing when trying to invoke via keyboard shortcut.

[2022-08-15 18:33] ospfranco commented on #59
Weird but nothing from the logs shows me an error I can act upon, did you try restarting the app (or your computer maybe)?

[2022-08-15 19:16] theklr opened #60 "How to use features"
Would love to be able to use the features listed on the site and in the readme, but where is the how to use guide?

[2022-08-15 19:49] hwbehrens opened #61 "Clipboard history search does not seem to work"
After invoking the clipboard history pane, typing anything in the search field does not filter the results. I thought maybe pressing Enter was required to trigger the search, but that just pastes the highlighted line.

I assume that since there is a search field, this is either a bug or perhaps a future feature that simply hasn't been implemented yet.

This is on Sol 1.1.40, MacOS 12.5 (21G72), on

[2022-08-15 20:22] ospfranco commented on #60
There won't be any, if the product needs to be explained it's already too complex. Searching for items should already teach you shortcuts and there are no more complex interactions. Feel free to leave more specific feedback on how to use specific features though.

[2022-08-15 20:23] ospfranco commented on #61
Ah probably didn't implement it, thanks for noticing.

[2022-08-15 21:05] theklr commented on #60
Well my experience seems to be disjointed from what's presented. I'm not seeing the ability to customize or add features, and currently it mostly queries to google
![Screen Shot 2022-08-15 at 5 03 02 PM](https://user-images.githubusercontent.com/6653320/184718435-d2dfcc56-b1d6-4f37-aa46-1d84a5c6092e.png)

[2022-08-15 21:32] ospfranco commented on #60
What exactly do you want to customize? Just search for "settings"

There are no features to add, this is probably not a complex tool as you are imagining. Not close to the level of raycast or Alfred.

[2022-08-15 21:34] theklr commented on #60
I searched, but i keeps loading to google

[2022-08-15 21:45] foss- commented on #59
Restarted the mac. So there is one interesting observation to add:

- start Sol
- the Sol bar shows and it shows in `Activity Monitor`
- after pressing cmd+space a few times it will not launch
- but interestingly after a few presses, Sol is gone from `Activity Monitor`

Then it is not surprising it would open on keyboard shortcut. The question remains, why it would vanish in the first place. Maybe

[2022-08-15 22:11] ospfranco commented on #59
If it is gone from the monitor it is because it crashed. I will take a look later.

[2022-08-16 10:59] foss- commented on #59
Crashes persisting with 1.1.45.

Crash log (1 month): https://bin.disroot.org/?a05a3ba283304322#8frWd89kZVuHzteiYaCuMhHhKBkAWHX6mRHhecNvJAqA

[2022-08-16 11:18] ospfranco commented on #59
Native crashes with RN are not very useful, I also have error reporting built-in, it would be more useful though if you can find some reproducible steps. Have you given the app all the permissions it asked for? Do you type something specific? Which settings have you enabled? which OS are you running?

[2022-08-16 11:45] foss- commented on #59
macOS 12.5 (as per crash log)
Re: built in error reporting, sentry.io is blocked here

Repro steps are here https://github.com/ospfranco/sol/issues/59#issuecomment-1215888599 and for me they are 100 % reproducible.

Permissions:
- Calendars
- Accessibility

[2022-08-16 12:11] ospfranco commented on #59
Which shortcut are you using? did you also remove Spotlight before or after binding to Cmd + space?

[2022-08-16 12:22] foss- commented on #59
Unblocked sentry.ui and created three crashes.
Spotlight keyboard shortcuts are disabled.
Hope the data is helpful in understanding why the crash happens.

[2022-08-16 13:00] ospfranco commented on #59
I can see the crashes but the traces still do not help and I cannot reproduce it. I will release an update with updated dependencies, since it seems to be an issue with RN itself, but otherwise I will have to take longer to try to reproduce it myself.

[2022-08-16 13:13] foss- commented on #59
If you want to debug on my machine, I can reach out. It is 100 % reproducible and rather instant here. Sol opens once (e.g. manually from finder) and then won't open a second time. The crash takes a few more seconds but will reliably happen in less then 10 seconds after the second attempt to open Sol.

Wondering how the recent changes may have caused this crash as I did not see the problem prior t

[2022-08-16 13:14] tdsanchez opened #62 "Latest automatic update broke my preferred main shortcut."
I use option-space to activate Sol and the latest auto-update (I can't ID version because it's not visible anywhere) broke that key combo.  After I press it one time and briefly see Sol's UI, it won't work again until I restart the app.

Additionally, ability to edit keyboard shortcuts is also broken.  When I try to select any of the three drop-downs I can only see choices for the clipboard shortc

[2022-08-16 13:16] tdsanchez commented on #62
I can now see that the version is 1.1.44 - Version was not visible in the finder when I submitted the issue.

[2022-08-16 13:53] ospfranco commented on #62
There seems to be a crash happening at the moment. At the same time I work on this project on my free time, so a fix or a rollback might take some time.

[2022-08-16 13:53] ospfranco commented on #59
1.1.42 had some native changes, which are the most likely cause for the issue. I will try to take a look later, but I have a real job to take care of first :P

[2022-08-16 14:08] #62 closed, assigned to nobody

[2022-08-16 16:14] ospfranco commented on #59
1.1.46 is out, give it a try and let me know

[2022-08-16 16:15] ospfranco commented on #62
gotta love open source... in any case 1.1.46 but I still haven't been able to locate the cause of the issues

[2022-08-16 17:14] foss- commented on #59
Sadly no change with 1.1.46. If there is any other info I can provide which could help, let me know. The behavior is identical as described above.

[2022-08-16 17:59] ospfranco commented on #59
Unless I can run it attached to a debugger I'm afraid it won't help much, but there is one thing I can try before having to connect to your machine, I'll report back in a bit

[2022-08-16 18:07] ospfranco commented on #59
I've just uploaded the DSYM files to sentry, hopefully now crash dumps should be symbolicated, can you try one more time to crash the app?

[2022-08-16 18:32] foss- commented on #59
Done

[2022-08-16 18:35] ospfranco commented on #59
Nothing... there was only one big native change that could be causing issues:

https://github.com/ospfranco/sol/commit/ee35a42191838e57927820bc7823ecd7c5fd0e3e

Do you have any nested folders or extraneous files on your Applications (and ~/Applications) folder?

[2022-08-16 18:47] foss- commented on #59
Yes, one subfolder example was given in the respective feature request: https://github.com/ospfranco/sol/issues/58
There is also an app outside the default application folder.

[2022-08-16 18:57] ospfranco commented on #59
What do you mean outside the application folder? I'm out of ideas at this point, can we jump into a call? reach out at ospfranco@protonmail.com

[2022-08-17 05:10] ospfranco commented on #59
I just released 1.1.48, I've refactored some of the native code to bail-out the moment something is wrong, give it a try and let me know!

[2022-08-17 07:02] s-oram opened #63 "No signing certificate error when running yarn dev"
Hello,

This is an exciting project! I'd like to attempt a contribution if you're open to it.

I cloned the repo, installed dependencies and ran `yarn dev` and received an error:

Is there a way to resolve this error?

[2022-08-17 07:06] s-oram opened #64 "Command + comma to open settings"
Many Mac applications use the `cmd` + `,`  shortcut to open application preferences. Would you be open to a PR that adds this shortcut to Sol?

[2022-08-17 07:07] ospfranco commented on #63
You need to open the project and remove the certs from the signing configuration

[2022-08-17 07:10] foss- commented on #59
Can confirm 1.1.48 fixes the crash. Thanks so much for the quick fix.

[2022-08-17 07:10] #59 closed

[2022-08-17 07:15] ospfranco commented on #64
Yep, PRs are welcome

[2022-08-17 07:26] foss- commented on #58
Verified with 1.1.48.

ScanSnap and other software in subfolders of applications folder are now showing up. Thank you.

However `/Users/Username/Applications/JDownloader 2.0/JDownloader2.app` is still not showing, which is probably expected. Let me know if you think a separate ticket for that makes sense or if adding that location is out of scope / unwanted.

[2022-08-17 07:28] ospfranco commented on #58
I assume that was the folder that was causing the crash starting on 1.1.42 and so on, I can give it a try later

[2022-08-17 07:48] ospfranco commented on #63
Also `yarn dev` will try to build a archived .app file, you won't be able to get that working without certificates, to run in development mode you should run `yarn macos`

[2022-08-17 11:57] everythingness opened #65 "preferences?"
or menu
how to access?
documentation?

[2022-08-17 12:38] ospfranco commented on #65
search for "settings"

[2022-08-17 12:38] #65 closed

[2022-08-17 23:29] s-oram commented on #64
Thanks, I'll give it a shot 🙂

[2022-08-19 09:36] ospfranco commented on #63
Did you manage to get it working?

[2022-08-19 09:48] ospfranco commented on #61
Will be there on next release

[2022-08-19 09:48] #61 closed

[2022-08-19 11:29] ospfranco commented on #58
Will be there on the next version

[2022-08-19 14:57] ospfranco commented on #52
Will be there on the next version

[2022-08-20 08:01] ospfranco commented on #58
It's released, let me know if you find any issues

[2022-08-20 08:01] #58 closed

[2022-08-20 08:01] ospfranco commented on #52
Released

[2022-08-20 08:01] #52 closed

[2022-08-20 08:41] foss- commented on #52
Verified in 1.1.49 and thanks for implementing this nice addition.

Two things, let me know if you want separate issues for those:

1. the windows are overlapping horizontally (not much, but would be nice to have them fit):
![overlap](https://user-images.githubusercontent.com/5708172/185736657-1b492150-300e-43b7-9309-e6bf52e2d423.png)
2. I know of at least one friend heavily using top and bottom h

[2022-08-20 08:43] foss- commented on #58
Awesome! This works great so far in 1.1.49. Sol feels more complete now :)

[2022-08-20 08:45] foss- commented on #64
Why not leave the issue open until the implementation is in place? Until then this will allow other users to subscribe instead of re-filing the same issue falsely as duplicate.

[2022-08-20 09:17] ospfranco commented on #64
I got this working right now, will be there on next release

[2022-08-20 09:23] ospfranco commented on #52
1. There are certain windows that do not go below a minimum size, that can cause some issues, but maybe you are right, I did some simple resizing logic
2. sure

[2022-08-20 13:09] #64 closed

[2022-08-20 21:10] chrismatheson commented on #45
Would an acceptable interim/MVP implementation be to shell out to `mdfind` (for Mac, and I assume windows / linux have equivalents)

[2022-08-21 07:24] ospfranco commented on #45
Doing shell commands is inefficient but it is a good idea to use the spotlight search. I tried used one of the native APIs but I'm having some issues

https://stackoverflow.com/questions/73431964/how-to-do-a-spotlight-search-in-swift-nsmetadataquery

[2022-08-21 08:27] foss- commented on #64
Verified in 1.1.51. This is a nice addition. I actually tried `cmd+,` but was confused nothing happened, only to learn much later, that settings indeed existed inside of Sol. So this addition is very welcome.

[2022-08-21 08:28] s-oram commented on #63
Thanks for following up @ospfranco.

I got past the signing error by changing the signing certificate to "Sign to run locally".

<img width="964" alt="Screen Shot 2022-08-21 at 6 21 35 pm" src="https://user-images.githubusercontent.com/1150429/185782482-42ba54df-5f92-4efd-b9b9-acd8017400ed.png">

But run into another error when running  `yarn macos`. The error is `unable to open file (in target "m

[2022-08-21 08:29] s-oram commented on #64
Thanks @ospfranco

[2022-08-21 08:35] ospfranco commented on #63
did you do a pod install in the macos folder?

[2022-08-21 09:52] foss- opened #66 "top | bottom half and quarter screen size window resizing function results in vertically overlapping windows"
Followup to https://github.com/ospfranco/sol/issues/52 (thanks for the addition!)

**Currently**

Windows overlap vertically when using quarter screen size or bottom | top half window resizing.

**Expected**

No overlapping.

Obviously low priority, filing so this remaining problem is visible in tracker
![1](https://user-images.githubusercontent.com/5708172/185785475-105fe85c-fb29-49fe-aa48-4dfa2e

[2022-08-21 09:54] foss- commented on #52
1. solved by https://github.com/ospfranco/sol/commit/5cbf74fe96b15e2458ff42973b6db150151594e6 🌻
2. followup https://github.com/ospfranco/sol/issues/66

[2022-08-21 12:54] ospfranco commented on #45
I got it working, it executes a Spotlight search, which is very nice because I don't have to worry about the implementation details of a working search. On the other hand the qualifiers @aemi-dev wanted were not implemented. I will close this issue for now. I don't really have the time to implement a more advanced search, so if anyone wants something more advanced... well... donation is the way to

[2022-08-21 12:54] #45 closed

[2022-08-21 12:55] ospfranco commented on #63
Going to close this issue for now, since it is not really an issue with the project itself.

[2022-08-21 12:55] #63 closed

[2022-08-21 21:04] foss- commented on #66
1.1.52 works fine. Thanks!

[2022-08-21 21:04] #66 closed

[2022-08-21 21:40] foss- opened #67 "Permission request dialogs hidden behind Sol search results"
Thanks for https://github.com/ospfranco/sol/issues/45

Sol ran into a hang showing as Not Responding in Activity Monitor when searching for `Download` and trying to open Downloads folder from search results. The reason became clear upon force quitting Sol: the permission request to access Downloads then showed. I am wondering if that permission dialog was hidden behind Sol. Unsure how to ensure pe

[2022-08-22 04:49] nicokosi opened #68 "Declined calendar items are shown 📆"
Hello! 👋

Calendar items that have been declined are shown in `Sol 1.1.52`. For instance, `Stand-up RUN DSI` is displayed:
<img width="976" alt="Screenshot 2022-08-22 at 05 34 16" src="https://user-images.githubusercontent.com/3862051/185841210-e54f6344-089f-42fb-9f9e-1ae66b5b8959.png">

I think that declined items should not be visible. 🙈

[2022-08-22 04:52] ospfranco commented on #68
You are right! I will take care of it later

[2022-08-22 05:20] ospfranco commented on #68
Turns out this is not so easy, cancelled events have their status returned as 3 but there is no info if the logged user rejected the invitation, one needs to iterate over the atendee list and find the correct user... which is more than a 5 minute fix... I will take a look later

[2022-08-22 05:23] ospfranco commented on #67
They are automatic by the OS once the app tries to access a protected file path. That's weird though, the window should hide itself once it losses focus. I can try to take a look later.

[2022-08-22 07:28] ospfranco commented on #51
Now that file search is there, this is valid

[2022-08-22 07:52] chrismatheson commented on #45
@ospfranco that was some super fast work there! :)

I have just upgraded to V1.1.52 via the auto-upgrader, but I don't believe native file search is working for me. Is there a special sub command to trigger it?

[2022-08-22 08:01] ospfranco commented on #45
nope, I'm just calling the spotlight native APIs and sometimes spotlight returns no good file matches, not much I can do about that

[2022-08-22 18:03] hwbehrens opened #70 "Clipboard Filtering Bug"
Oscar, thanks so much for implementing the clipboard history filtering! It's working well, and quite fast. I check for Sol updates almost first thing every day.

I just wanted to report a small bug in the new functionality, which is that the selection index/offset is not updated logically during filtering.

For example, if my clipboard history is:

- > Foo
- Bar
- Baz

When I type "ba" in the filt

[2022-08-23 05:41] ospfranco commented on #70
You are right :) will take care of it later

[2022-08-23 06:08] ospfranco commented on #70
Will be there soon

[2022-08-23 06:20] ospfranco commented on #51
Folder should now be open, selecting it in finder is another story though... I might have to resort to an AppleScript to do that, but I have to find time

[2022-08-23 07:50] chrismatheson commented on #45
https://user-images.githubusercontent.com/420915/186101964-a3731fe4-92a2-4b06-8d31-f52fff531969.mov

This video shows the search term "rise" in spotlight and then sol. In my downloads folder I have a folder & movie which should match (see spotlight results a few down) but im not seeing them from sol.

with other terms I *do* get folder realists which I assume are from spotlight.

Have you got any

[2022-08-23 08:21] ospfranco commented on #45
Not really a bug, even though I'm using a Spotlight query, one doesn't get full access to the querying capabilities against the spotlight database. I basically do a simple string comparison to try to find matches:

https://github.com/ospfranco/sol/blob/main/macos/sol-macOS/lib/FileSearcher.swift#L51

Tbh, I don't use this feature, so if you need it PRs are welcome :)

[2022-08-23 08:24] chrismatheson commented on #45
Thanks for the pointer :). ill see if I can figure out how to hack on this a bit.

Yeah it did feel like the `NSMetadataQuery` results are a bit ... unranked, compared to spotlight results. Ill have a little read around this area as well

[2022-08-23 08:52] foss- opened #71 "upcoming calendar events are displayed with striketrough title"
Noticed this before. Not sure if this applies to all upcoming events or if this happens only sporadically. Can say for sure this only happens to the next upcoming event. Events after that do not show with strike-through.

If this is expected, I don't understand what the strike-through would convey.

![upcoming event strikethrough](https://user-images.githubusercontent.com/5708172/186115282-399af9a

[2022-08-23 09:00] ospfranco commented on #71
That's weird, I will take a look later

[2022-08-23 11:39] aemi-dev commented on #45
Thanks Oscar for this feature, it's already nice to have it although there aren't the qualifiers yet.

[2022-08-23 15:00] ospfranco commented on #71
Ah woops, has to do with the latest change:

https://github.com/ospfranco/sol/blob/main/macos/sol-macOS/lib/CalendarHelper.swift#L44

I made some mistakes showing the issues and tentative appointments where never shown, now they are but status === 3 equals cancelled not 2 :P

[2022-08-23 18:54] ospfranco commented on #70
Should be there 1.1.52

[2022-08-23 18:54] #70 closed

[2022-08-23 18:54] #51 closed

[2022-08-25 05:44] ospfranco commented on #71
Should be fixed now

[2022-08-25 05:44] #71 closed

[2022-08-25 07:37] foss- commented on #71
Verified in 1.1.55, thank you.

[2022-08-25 08:08] foss- opened #72 "Improve file searches"
Maybe out of scope for current implementation but sometimes when I search for a word like `searchterm` and I am certain a file exists with the name `searchterm horray`...

**Currrently**
... file search is not invoked and no file search results are presented, only Google Search, Translate and Maps are offered as options.

**Expected**
either file search should automatically be invoked by the searc

[2022-08-25 08:10] ospfranco commented on #72
File search is always executed, as stated on a previous issue, querying capabilities against the spotlight API are limited. I will leave it open if somebody else wants to give it a go. PRs are welcome.

[2022-08-28 15:49] kklot opened #73 "Configure keyboard window manager"
Hi, I tried to disable the windows manager since I already have Rectangle doing that. But cannot find where to change. I can only find windows to change Weather/Translate... options.

[2022-08-28 16:14] ospfranco commented on #73
Currently no option to disable the window manager shortcuts, PRs are welcome

[2022-08-29 07:22] foss- opened #74 "1.1.59 crash"
Version 1.1.59 crashes on the first invoke after opening.

[Crash log](https://bin.disroot.org/?57a950061a20fda8#NXZ5C4iQHznfDPu59WvKm19J8ykxDY76J6FM9dj55YH) (1 month).

Edit: while Sol crashed three times in a row for me with above procedure, it now opens as expected. So now I am unsure what to make to make of the crash. Scratch that it crashed again, although not on the first attempt to invoke.

[2022-08-29 15:12] jbergstroem commented on #74
I have a few crashes too across 1.1.5x. Is this issue the best way to pass crash logs or do you prefer input in a more structured way?

[2022-08-29 15:16] foss- commented on #74
@jbergstroem Sol comes with sentry so if you have not blocked that crash logs will be sent to the developer of Sol.

[2022-08-29 15:17] ospfranco commented on #74
ah, it looks like I introduced some race conditions when I migrated to JSI functions... but I think it should be easily fixable, give me some minutes

[2022-08-29 16:01] ospfranco commented on #74
1.1.60 is out, give it a try please

[2022-08-29 16:07] foss- commented on #74
1.1.60 still [crashes](https://vomitb.in/Z1Axzgu8N5).

[2022-08-29 16:10] ospfranco commented on #74
ok, I will revert the changes, give me some more minutes

[2022-08-29 16:33] ospfranco commented on #74
.61 is out, please test it

[2022-08-29 17:12] foss- commented on #74
1.1.61 looking good.

[2022-08-29 17:12] #74 closed

[2022-08-29 18:51] ospfranco opened #75 "Caret is wrong size/position"
Getting ahead of any bug report, unfortunately this is a bug on the framework with no way to fix it from the app code.

<img width="215" alt="Screenshot 000933" src="https://user-images.githubusercontent.com/1634213/187276143-b1bcc112-f94c-4818-9ab6-b7c0dccabfb0.png">

I already created an issue on the RN-macOS, when it is fixed I will update the app:

https://github.com/microsoft/react-native-mac

[2022-08-30 04:56] huabin opened #76 "The displayed result"
Hello there,

Thank you for creating this app. But I have a question about it.

<img width="770" alt="w" src="https://user-images.githubusercontent.com/535675/187352367-eced7aa7-c81b-4cf7-ac8f-e636997b2853.png">

When I try to run a command, there seems to be some results from GitHub, why?

[2022-08-30 05:32] ospfranco commented on #76
Because I needed them. You can disable github search in the app settings (Cmd + ,)

[2022-08-30 05:32] #76 closed

[2022-08-30 05:34] ospfranco commented on #76
I have turned github search by default off, I can see it will cause confusion for non-devs.

[2022-08-30 06:01] huabin commented on #76
Actually, it can't be disabled in the app settings. Please check

https://user-images.githubusercontent.com/535675/187361248-9b1d552c-9cd0-45c8-be80-f1a13d46e6d0.mp4

I used to use Alfred and Raycast. I think they are too large, I need simple one, and I found sol, hope it will grows better.

[2022-08-30 06:03] ospfranco commented on #76
Hmm let me take a look

[2022-08-30 06:04] ospfranco commented on #76
Seems like cached results remain, just restart the app and they should be gone

[2022-08-31 00:14] huabin commented on #76
Got it and tried, that works, thank you.

[2022-09-01 09:15] foss- opened #77 "Colored calendar dots inconsistent, some filled some not"
Unsure under which conditions a colored dot of a calendar entry is filled or not. All three events are timed events on a single day (not all-day). One event shows up with filled dot while the other two events show unfilled.

macOS 12.5.1
Sol 1.1.61

![sol 1 1 61](https://user-images.githubusercontent.com/5708172/187878444-2207e310-ab24-4540-8a5a-5cf702dada65.png)

[2022-09-01 09:53] ospfranco commented on #77
When an event is "accepted" it shows as filled

[2022-09-01 09:53] #77 closed

[2022-09-01 10:16] foss- commented on #77
Unsure where to find such option in calendar app as I am not using invites or attends in macOS calendar (or at least not knowingly). Wondering if this option is modified while adjusting an event on android. At least on android I see the attending options (yes, maybe, no). However when I edit event on android, tick the yes option, done I see "Event saved" only to find the attending options all unti

[2022-09-01 10:35] foss- commented on #77
The thing I don't get is, the event showing the filled dot has no attendees. The only difference I can spot is that, on android, I do not see the option to attend (yes, maybe, no) for that event. But yeah, that is probably an issue between calendar app, android and how all those implementations may ignore calDAV standards or something like that.
![event full circle](https://user-images.githubuserc

[2022-09-01 10:51] ospfranco commented on #77
You need to be invited to an event for it to appear, if it is an event you created yourself you won't have any option to accept it

[2022-09-01 10:56] foss- commented on #77
I can understand that, but I don't understand how then three events created by me would show with different dot states.

[2022-09-01 11:13] ospfranco commented on #77
![](https://media0.giphy.com/media/l0MYw6Cu1TfY3gsWk/giphy.gif?cid=b1865c10fabvdvc8yn1jffb6bfqopfngxsr3vn7npocnkzpx&rid=giphy.gif&ct=g)

[2022-09-01 11:29] foss- opened #78 "emoji search is not finding expected emojis"
When searching for 💯 emoji and typing `100` Sol shows `No emoji found`. Frequently ran into this problem with other emojis as well like when searching for 🙏 using `thank` or `pray`.
![emoji search](https://user-images.githubusercontent.com/5708172/187908206-ba641f11-af99-4531-8fb3-477f0acc6c3b.png)

[2022-09-01 11:29] foss- commented on #77
Here goes nothing: https://github.com/Etar-Group/Etar-Calendar/issues/383 open issue from 2018 for etar calendar.
At least I found another problem with Sol while typing my etar comment: https://github.com/ospfranco/sol/issues/78

[2022-09-01 14:21] ospfranco commented on #78
The emoji list is probably not complete, I just took a random one I found online:

https://github.com/ospfranco/sol/blob/main/src/lib/emojis.json

Feel free to submit a PR with the missing ones or I can take a look later

[2022-09-01 14:39] foss- commented on #78
both emojies are in the list. It is just that the search terms don't bring up the expected emoji.

[2022-09-02 01:01] huabin opened #79 "Plugin System"
Hello,

I'd like to ask what the plugin system will look like? Is it possible to have something like Raycast scripts-command?

Thank you.

[2022-09-02 01:04] huabin commented on #79
BTW, I thought the scripts command is much simpler and easier to extend.

[2022-09-02 04:10] ospfranco commented on #79
You can already create applescripts or url shortcuts, just search for "Create Shortcut". As for the plugin system, yeah, it should be something akin to Raycast plugins, but I don't know when I will have time to tackle something like that.

[2022-09-02 04:49] ospfranco commented on #78
Ok, I added the aliases to the search term list `100` and `pray` now work.

[2022-09-02 04:57] huabin commented on #79
I see, I will try, thank you.

BTW, my suggestion is don't make the plugin system look like what Raycast
extension is now, it should look like what it was originally. Raycast
extension is so heavy now. I used to be interested in contributing scripts
to Raycast and have written a few, but I'm not interested in writing
extensions for it at all.

SOL = Core + scripts-commands (hosted on GitHub, every

[2022-09-02 05:01] ospfranco commented on #79
no sorry, scripts are fine for one time use cases, but for stuff like forms and meaningful interactions with other apps and web services one needs a real plugin system where one can build UI elements. Sure scripts have a place for certain stuff, but they are also kinda awkward to write and maintain. Going to close this for now, since it is not an issue but more of a discussion.

[2022-09-02 05:01] #79 closed

[2022-09-02 05:10] huabin commented on #79
I see, I will fork one and build a sol without extensions :)

On Fri, Sep 2, 2022 at 1:01 PM Oscar Franco ***@***.***>
wrote:

[2022-09-02 07:15] ospfranco commented on #79
Don't think you realize the amount of work it takes to keep up with upstream changes and keep releasing the app all the time, but you are free to do as you please, Sol is MIT.

[2022-09-02 08:31] foss- commented on #78
1.1.62
💯🙏

[2022-09-02 08:31] #78 closed

[2022-09-03 08:41] ospfranco commented on #73
Will be there on next release

[2022-09-03 08:41] #73 closed

[2022-09-03 08:42] ospfranco commented on #67
I'm not able to reproduce this, if somebody has this issue, comment here and I will re-open the issue.

[2022-09-03 08:42] #67 closed

[2022-09-04 19:54] foss- opened #80 "Allow navigating calendar events with left | right arrow keys also"
**Currently**

When tabbing into calendar events, it is only possible to navigate between events.

**Expected**

Since the design change and now events being displayed in a single row, it would be more intuitive to allow ffor navigation using left | right arrow keys. Up | down can be kept I guess.

[2022-09-05 05:10] ospfranco commented on #80
I didn't have the energy to do it yesterday too, it will be released shortly

[2022-09-05 05:10] #80 closed

[2022-09-05 05:59] cocoonkid opened #81 "Custom shortcuts"
[feature request] Add ctrl + space as hotkey  (or actually make it fully customizable)

I run Contexts on cmd+space and my terminal on option+space.

Alfred works on ctrl+space but I cannot configure sol to work with this combo. I'd really like to use it instead of Alfred.

I was able to put Sol on ctrl+space via hammerspoon but it still reserves the cmd or option key for itself.

Thank you for co

[2022-09-05 06:20] ospfranco commented on #81
PRs welcome

[2022-09-05 08:04] foss- commented on #80
1.1.69 verified, thank you.

[2022-09-05 11:58] msourabh24 opened #82 "[feature request] Add option to disable calendar events"
I don't think everyone uses the default calendar and that an option to disable calendar events would be better instead of showing it every time search is opened.

What are your thoughts?

[2022-09-05 20:22] cocoonkid commented on #81
Thanks, I'd work on it but I'm still a noob and I'm not ready for tackling swift.

I researched a bit though https://n1ghtmare.github.io/2022-01-14/implement-a-keyboard-shortcuts-handler-in-typescript/

I then tried to fix it with hamerspoon. https://github.com/Hammerspoon/hammerspoon

I am successful in  launching it and sometimes it works actually but most of the time it just gets into some kind

[2022-09-05 20:24] cocoonkid commented on #81
I propose adding an option to disable either/or
Global Shortcut, Clipboard Shortcut, Scratchpad Shortcut.

[2022-09-05 20:32] cocoonkid commented on #81
Ha, I was able to get it to work:

`hs.hotkey.bind({"ctrl"}, "space", toggle_application("com.ospfranco.sol"))
`

[code]

[2022-09-05 21:23] cocoonkid commented on #81
No, unfortunately not. It just takes a while longer now for the Sol window to become inaccessible.

Will report back as soon as I have stable workaround.

[2022-09-06 07:46] ospfranco commented on #82
fair enough, will be there on the next version

[2022-09-06 07:46] #82 closed

[2022-09-06 07:47] ospfranco commented on #81
There is more happening when the window is shown than just activating it:

https://vscode.dev/github/ospfranco/sol/blob/dcdb7b7b34dba04ada467c77c60c1672cd400fd9/macos/sol-macOS/AppDelegate.swift#L181

You will probably not get around this with hammerspoon

[2022-09-06 09:06] ospfranco commented on #68
Declined items will be not shown on the main view anymore, but they will appear with a line-through when a search is triggered

[2022-09-06 09:06] #68 closed

[2022-09-06 10:00] foss- opened #83 "Question: is there still a UI indicator for calendar event attendance"
Unsure how exactly event attendance works, since the different calendar implementations seem to differ in their assumptions about that. Add cross-OS sync and debugging becomes so much fun.

However with the new row UI in Sol for calendar events, the attendance dots are gone. Does that mean there is no longer any differentiation? Please just close this issue, after answering - just wondering if a d

[2022-09-06 13:17] foss- opened #84 "Calendar Events: shows no events on search results"
macOS 12.5.1
Sol 1.1.69

**Currently**

Calendar events show fine on invoking Sol. After searching for something the calendar event list shows `No Events` for all days despite existing events. Always reproducible here.

**Expected**

Guess calendar events should be shown correctly. Although I am not sure if I would expect calendar events to show at all in search results view. Having calendar event

[2022-09-06 15:38] ospfranco commented on #83
Chose to remove it for now, it's also confusing without a clear symbol that indicates participation. Maybe it will come back in the future, but for now I like it better.

[2022-09-06 15:38] #83 closed

[2022-09-06 15:40] ospfranco commented on #84
The search term applies not only to the main results, but also to the events. The idea was to quickly look up events for the coming days. But now that the view is limited to 5 days, it might not be all day useful. I will leave it for now, maybe will change my mind later and implement something different.

[2022-09-06 15:40] #84 closed

[2022-09-06 16:06] foss- commented on #84
Oh I see. Could you remove case sensitivity for Calendar events then?

[2022-09-06 16:24] ospfranco commented on #84
already done in the latest version

[2022-09-06 17:11] foss- commented on #84
Verified in 1.1.70.

[2022-09-07 05:04] nicokosi commented on #68
That's awesome! 😎
Here is a screenshot (animated GIF) with my own calendar with Sol 1.1.70:
![hidden_calendar_items_in_Sol](https://user-images.githubusercontent.com/3862051/188783547-d2bc8208-55f4-49a3-a51f-8e30cf302915.gif)

[2022-09-08 20:10] foss- opened #85 "Search for third party system preference panes"
Feel free to close if out of scope, but being able to search for system preferences components would be a useful addition.

[2022-09-08 20:43] ospfranco commented on #85
They are already there, are they not?

[2022-09-08 22:11] foss- commented on #85
Correct, the remaining aspect would be third party system preference panes as exist for ChronoAgent, macFUSE or GPG Suite to name a few. (adjusting title accordingly)

[2022-09-09 11:21] ospfranco commented on #85
I don't quite understand what you mean... do you want to open a third party app settings window? is that even possible?

Or do you mean searching for menu bar items? I think Raycast does this, it is cool but no idea and no time to implement it.

[2022-09-09 13:08] foss- commented on #85
It is possible for apps to install a preference pane for some settings. ChronoAgent is one example:
![1](https://user-images.githubusercontent.com/5708172/189356867-29b14b82-efd3-4cc6-8176-2f32a9576bc4.png)

[2022-09-09 13:47] ospfranco commented on #85
ah ok. I don't know if it is possible to programmatically get system prefs panels, current implementation has hardcoded paths. Will leave this ticket open for now, but someone else will have to implement it.

[2022-09-14 07:29] moenodedev opened #86 "Option to hide bottom bar that contains the logo"

[2022-09-14 11:01] ospfranco commented on #86
Sorry, but disagree here, the bar is useful for other data such as currently playing, hints are not and just adds complexity IMO.

[2022-09-14 11:01] #86 closed

[2022-09-16 15:44] OlshaMB opened #87 "Ability to disable certain features"
# Ability to disable certain features
I want to be able disable clipboard manager. And also disable certain search result types like google maps search. And also hide certain apps from search

[2022-09-16 15:52] OlshaMB commented on #85
There are 3 locations for them:

1. `/System/Library/PreferencePanes/`
2. `/Library/PreferencePanes`
3. `/Users/**USER**/Library/PreferencePanes`

[2022-09-16 15:55] ospfranco commented on #87
PRs are welcome

[2022-09-16 15:55] ospfranco commented on #85
PRs are welcome

[2022-09-21 07:28] foss- opened #88 "Opinion: make overlay optional"
Personally not a big fan of the overlay once Sol opens. Clearly subjective and opinionated comment so going to close this, but maybe this can serve to gather feedback from others.

I think the reason neither Raycast nor LaunchBar use an overlay is, to interfere as little as possible. The overlay distracts more than it helps focus I think. And unsure whether the idea of focus is really wanted in a

[2022-09-21 09:54] ospfranco commented on #88
I'll add a toggle for it

[2022-09-23 11:45] huabin opened #89 "Problems with displaying on large screens"
I updated sol several hours ago, and met a bug. Please check this screen record.

https://user-images.githubusercontent.com/535675/191952846-b8f29dd0-c3ce-4086-9c22-7ff4a55a381f.mov

**More detail**

Sol version: 1.1.75
MacOS: 12.5.1 (21G83)
Display: DELL U2414H Display(23.5-inch (1920 × 1080))

[2022-09-23 12:39] ospfranco commented on #89
uh oh, yeah, I'll remove the overlay when I can, unfortunately I'm very busy with other work right now

[2022-09-23 14:29] ospfranco commented on #89
Removed the overlay

[2022-09-23 14:30] ospfranco commented on #88
Removed the overlay for now, no time to properly fix it

[2022-09-23 14:30] #88 closed

[2022-09-24 15:12] huabin opened #90 "How to manage shortcuts"
Hello,

Sorry to trouble you, is there a place to manage shortcuts on sol?

Thank you.

[2022-09-25 20:01] ospfranco commented on #90
click on the sol icon --or-- cmd + comma or search for "settings". Not all shortcuts are editable and not all functionality can be currently turned off.

[2022-09-26 00:15] huabin commented on #90
@ospfranco

Thank you so much. But there doesn't seem to be a place to manage self-created shortcuts.

[2022-09-26 09:35] ospfranco commented on #90
There is currently not

[2022-09-26 13:26] huabin commented on #90
Got it, thank you.

[2022-09-26 13:26] #90 closed

[2022-09-28 09:43] foss- opened #91 "add option to not autostart Sol on launch"
While Sol is a launcher and chances are, users want it active all the time, there might be cases where users don't want Sol to launch, but may switch back to using it and don't want to uninstall. Having an option to prevent autostart would be welcome since Sol is not showing under System Preferences > Users & Groups > Login Items.

[2022-09-28 11:17] ospfranco commented on #91
Do you actually need this? or just hypotethical?

[2022-09-28 12:53] foss- commented on #91
I need it. Using three launchers currently. Please don't ask why and not the average use-case. Since things can get confusing, I'd like to temporarily disable Sol but don't want to uninstall and lose weather settings etc

[2022-09-29 23:15] ospfranco commented on #91
Well... a launcher that does not auto launch on start is definitely an edge-case, that being said: PRs are welcome :)

[2022-10-04 14:44] hwbehrens opened #92 "Persistent Clipboard History"
I'm not sure if this enhancement has been requested before, but it would be a nice quality-of-life improvement if the backing store in Sol persisted between restarts.

I often rely on my clipboard history as a kind of long-term, backup 'undo' queue when I'm coding, but if I happen to power-cycle my machine or get a Sol update overnight, I lose all that history and start the following day with less

[2022-10-05 08:27] ospfranco commented on #92
This makes a lot of sense. I added support for it, please do test in the latest version (1.1.79), let me know if you find any issues with it.
![Screenshot 001073](https://user-images.githubusercontent.com/1634213/194015885-da835d7b-27c8-4cc7-a6ef-a0773ccd520a.png)

[2022-10-05 08:50] ospfranco commented on #92
Scratch that for a bit, I'm having troubles with getting the app signed by apple, will let you know once I release it

[2022-10-05 16:54] ospfranco commented on #92
Ok it is released now under 1.1.83

[2022-10-05 20:51] hwbehrens commented on #92
Perfection! It's working great -- exactly what I needed.

[2022-10-05 20:51] #92 closed

[2022-10-08 10:06] ospfranco commented on #91
Option is now there on the settings menu. Let me know if it works.

[2022-10-08 10:35] foss- opened #93 "website throwing 404"
see screenshot. Website has been unavailable for several days.

![2022-10-08](https://user-images.githubusercontent.com/5708172/194703249-2fdaddd2-8e12-4e16-80c4-a20a600fb6c2.png)

[2022-10-08 10:37] foss- commented on #91
Can you point to to a download? Running into https://github.com/ospfranco/sol/issues/93 and https://github.com/ospfranco/sol/releases/tag/1.1.84 does not include a binary.

[2022-10-09 20:59] ospfranco commented on #93
I removed the domain, it is now under sol.ospfranco.com

[2022-10-09 20:59] #93 closed

[2022-10-09 21:00] ospfranco commented on #91
releases folder here on the repo or install view brew

[2022-10-10 15:41] foss- commented on #91
Downloads at https://github.com/ospfranco/sol/tree/main/releases
Was looking at https://github.com/ospfranco/sol/tags which does not seem to include binaries.

Verified in 1.1.84, thanks.

[2022-10-10 15:41] #91 closed

[2022-10-11 08:55] theklr commented on #60
Well my current experience seems disjointed from the photos. I’m not seeing any of the features mentioned nor a preferences or help menu to review settings to debug
On Aug 15, 2022, 16:22 -0400, Oscar Franco ***@***.***>, wrote:

[2022-10-11 13:46] ospfranco commented on #60
Ok, open to feedback here, what exactly are you missing? Have you tried click on the sol icon on the bottom left corner or opening via shortcut (⌘ + comma) or searching for settings? or searching emoji?

[2022-10-23 12:42] #60 closed

[2022-10-31 06:53] mietzen opened #94 "[Feature Request] Append App Search Path"
no issue

[2022-10-31 06:57] #94 closed

[2022-10-31 07:00] mietzen opened #95 "Find App that are symlinked"
Apps that are links are not found by Sol, e.g.:

[code]

[2022-10-31 08:38] b2sc opened #96 "Cannot open Safari"
I tried to open Safari by typing just that. But it doesn't offer to start the browser.

[2022-11-02 21:49] foss- opened #97 "1.1.94 crashing - updater failing to replace app, crash soon after open after manual install, app not signed"
1.1.94 crashes soon after opening: [crash log (1week)](https://bin.disroot.org/?68bfeae1ea413cd4#H8Wjnf8GBnmN2gT1CV6H3cxWyNyYrSf572SeYQsNp3QC)

Sidenote: Was unable to update via sol app. After placing sol app into applications folder it complains about being unsigned when trying to open. Could that also be the reason why the update did not work?

[2022-11-03 06:14] ospfranco commented on #97
weird, the notarization process did succeed, I'm uploading version 1.1.95 right now, give that one a try

[2022-11-03 06:14] ospfranco commented on #96
Should be fixed now

[2022-11-03 06:15] ospfranco commented on #95
Should be fixed on 1.1.95

[2022-11-03 08:36] foss- commented on #97
Updating from 1.1.94 to 1.1.95 seemed to work. Sparkle found the update, downloaded it. But then I saw a brief warning (I think about opening an unsigned app, but not sure, since the dialog was shown very briefly) and when I wanted to take a closer look at sol.app it was not in application folder. So updater did not manage to replace the app it seems.

Downloaded https://github.com/ospfranco/sol/b

[2022-11-03 13:32] ospfranco commented on #97
dunno, are you sure your machine is not blocking requests to apple's authorization/notarization system?

[2022-11-03 14:13] foss- commented on #97
Not seeing upgrading issues for other apps. Sentry for Sol is blocked, but that should not be relevant at that stage of updating sol.

[2022-11-03 16:43] ospfranco commented on #97
Apparently notarization is broken with Fastlane... yay... I uploaded a manually built 1.1.96, try that one please

[2022-11-03 23:24] foss- commented on #97
https://github.com/ospfranco/sol/blob/main/releases/1.1.96.zip works

[2022-11-04 06:15] ospfranco commented on #97
cool, thanks for reporting, I will keep it open until I figure out what broke on fastlane.

[2022-11-05 11:27] ospfranco commented on #97
notifications are a weird beast, let me check sentry to see if there is anything obvious

[2022-11-05 11:35] ospfranco commented on #97
I see there is a problem, unfortunately I have no stack trace, which applications do you use? Did you give sol full disk access?

[2022-11-05 11:57] #96 closed

[2022-11-05 11:57] #95 closed

[2022-11-05 12:37] ospfranco commented on #97
@hwbehrens if you run this command:

[code]

What is the output of your console? Which macOS version are you using?

[2022-11-05 13:38] ospfranco commented on #97
There is a new version 1.9.99. Contains minor code changes and some debug information for me. Give it a try.

[2022-11-07 16:38] hwbehrens commented on #97
/private/var/folders/rb/x6dbd4812yg6x6wltybflxm40000gn/0/com.apple.notificationcenter/db2

This is on Ventura 22A380.

[2022-11-07 16:39] hwbehrens commented on #97
I tried it with notifications enabled, and it's still crashing. Hopefully the logs will be useful.

[2022-11-07 18:59] ospfranco commented on #97
@hwbehrens unfortunately not, apparently sentry is not happy collecting native breadcrumbs. Anyways, closing this issue, as this is not related to crashes with notifications. Going to open a new issue.

[2022-11-07 18:59] #97 closed

[2022-11-07 18:59] ospfranco opened #98 "Enabling notifications crashes the app"
Apparently some notifications are crashing for some users. Not able to reproduce so far, it would be great if someone can tell me which apps/notifications they have open when the app crashes.

[2022-11-10 14:25] hwbehrens commented on #98
What's the best way to collect this information at the granularity that would be useful? I can't imagine that dumping `ps aux` to a file is necessarily going to be very helpful.

[2022-11-11 10:12] ospfranco commented on #98
send me a screenshot of the notifications in the notification center, just to see what is in there, you can black out the contents, but I want to see the apps

[2022-11-11 19:13] hwbehrens commented on #98
<img width="367" alt="Screenshot 2022-11-11 at 09 12 35" src="https://user-images.githubusercontent.com/6589744/201413630-013a0892-0b87-4da9-aac8-79a113ddc5ea.png">

[2022-11-12 16:27] ospfranco commented on #98
Nothing looks out of the ordinary to me, I've also experienced some crashes but the moment I start the app with the debugger attached, I'm unable to find anything... weird

[2022-11-12 16:39] ospfranco commented on #98
This feature is hacky anyways, it is bound to break anytime since I'm not using any official API but rather reading directly from the notifications database. I think I will remove it, it's more trouble that it is worth.

[2022-11-12 16:39] #98 closed

[2022-11-19 21:51] reuseman opened #99 "Linux support"
Hey @ospfranco, the work looks very interesting and especially a viable opensource alternative to Raycast. It would be interesting if Sol could run on Linux as well. It is a pity that it is not available. Of course, I know that making multiple platforms work would add to the complexity of the project, however, I saw that you have started to do something for windows support.

ULauncher, Cerebro and

[2022-11-20 08:07] ospfranco commented on #99
Unfortunately, react native does not work directly on Linux. I also don't have the time to move this forward, so somebody else needs to tackle it. I also did not work on the windows support, somebody else started but dropped it after a while.

[2022-11-20 08:07] #99 closed

[2022-11-25 15:04] ospfranco commented on #85
Are this third party panels still supported on Ventura? the new app seems a lot less native than previous implementations, I had to hardcode the new paths and there seems to be no new documentation.

[2022-11-25 15:41] foss- commented on #85
Yes, they may look a bit weird since their old UI doesn't fit the new style but they still existing and load as expected. You could test with e.g. https://osxfuse.github.io/

[2022-11-26 20:55] foss- commented on #85
Great news. Verified this works for `ChronoAgent`.

It did not work for `macFUSE` or `GPGPreferences` (comes with GPG Suite).
<img width="659" alt="1" src="https://user-images.githubusercontent.com/5708172/204108536-8a8bba3f-8f10-4ff8-9667-4e14be2bb8d7.png">

[2022-11-27 07:16] ospfranco commented on #85
I used the method suggested by @OlshaMB. No idea how macFuse is adding preference panes.

[2022-11-27 07:18] ospfranco commented on #85
On the GPGPreferences github readme they say you need to manually copy the .prefPane file to ~/Librare/PreferencePanes, if you do that, it should work. As for macFuse, no idea.

[2022-11-27 08:54] ospfranco commented on #85
<img width="740" alt="Screenshot 2022-11-27 at 09 54 03" src="https://user-images.githubusercontent.com/1634213/204126837-5f00c284-c5b1-4066-a97a-0a69ec572db7.png">

macFUSE is there, it only has a funny parsing due to the way I generate the names :)

[2022-11-27 12:40] foss- commented on #85
Wow at macFUSE for using the most unexpected parsing. Confirming it works as intended. Thanks for adding this.

[2022-11-27 12:40] #85 closed